@page "/patientlist"

@using DataAccessLayer.Models;
@using DataAccessLayer.Services;
@using Syncfusion.Blazor.Spinner;
@inject PatientService patientService


<h1>PatientList</h1>
<br />
<NavLink class="nav-link" href="addpatient">
    <span class="oi oi-plus" aria-hidden="true">Add New Patient</span>
</NavLink>
<br />
@if (patients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-striped table-hover table-responsive table-responsive-sm">
        <thead class="table-primary">
            <tr class="row">
                <th class="col-sm-2">Id</th>
                <th class="col-sm-2">First Name</th>
                <th class="col-sm-2">Last Name</th>
                <th class="col-sm-2">Date Of Birth</th>
                <th class="col-sm-2">Has Diagnosis</th>
                <th class="col-sm-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in patients)
            {
                <tr class="row">
                    <td class="col-sm-2">@item.PatientId</td>
                    <td class="col-sm-2">@item.FirstName</td>
                    <td class="col-sm-2">@item.LastName</td>
                    <td class="col-sm-2">@item.DateOfBirth</td>
                    <td class="col-sm-2">@item.HasMedicalRecord()</td>
                    <td class="col-sm-2">
                        <a class="w-50" href="editpatient/@item.PatientId">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="w-50" href="deletepatient/@item.PatientId">
                            <span class="oi oi-trash" style="padding-left:50px;color:darkred" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List <Patient> patients;
    
    protected override async Task OnInitializedAsync()
    {
        patients = await patientService.GetAllPatients();
    }


}
